
#Node dependencies
node_modules/

#Local environment variables
.env

#Encrypted or sensitive local data
database/
cert/

directions.docx
color_palette.png

#None code files
TODO.txt
directions.docx
color_palette.png